.header-footer, header, footer {
  background-color: #45d8d1;
  width: 100%;
  font-family: Rubik;
  font-size: 25px; }

.header-footer, header, footer {
  background-color: #45d8d1;
  width: 100%;
  font-family: Rubik;
  font-size: 25px; }

header nav {
  display: flex;
  justify-content: space-around; }
  header nav a {
    text-decoration: none;
    font-family: Rubik; }

.header-footer, header, footer {
  background-color: #45d8d1;
  width: 100%;
  font-family: Rubik;
  font-size: 25px; }

section {
  width: 100%; }
  section article {
    width: 100%; }
    section article p {
      font-family: Rubik;
      line-height: 2;
      font-style: oblique;
      font-weight: lighter;
      text-align: left; }

.header-footer, header, footer {
  background-color: #45d8d1;
  width: 100%;
  font-family: Rubik;
  font-size: 25px; }

footer {
  display: flex;
  justify-content: space-around; }
  footer a {
    text-decoration: none;
    font-family: Rubik; }

* {
  margin: 0;
  padding: 0; }
