@import "../variables/variables";

@mixin flexibilizar{
    display: flex;
    justify-content: space-around;
}

@mixin fuentes {
    font-family: $tipo-de-letra;
    line-height: 2;
    font-style: oblique;
    font-weight: lighter;
}

@mixin estilo-de-anclas {
    text-decoration: none;
    font-family: $tipo-de-letra;
}